PORT=4000
APP_URL=http://localhost:3000

JWT_SECRET=replace-with-long-random-string
JWT_EXPIRATION=1d

DB_SERVER=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=martucastro
DB_NAME=ProHealth
DB_SSL=false

# Email (Resend)
# Guarda tu API key real solo en .env (no la subas al repo)
RESEND_API_KEY=re_dXY7Ftqu_2r8cefWN1W4Auxkng1Z2Ee36
EMAIL_FROM=onboarding@resend.dev
